
<!-- <mat-dialog-content style="width: 1000px;">
<div  class="container-fluid justify-content  " >


    <button class=" btn " mat-button [mat-dialog-close] cdkFocusInitial style="float: right">X</button>
   
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Country Form</h3>
    </div>
    

    <div class="panel-body">
        <form  [formGroup]="CountryFormGroup"  autocomplete="off"    >
            <div class="form-group">

            
                <div class="row">
                    <div class="col-sm-5">
                        <label for="country">Name</label><code class="required">*</code>
                        <input  autocomplete="off" oninput="this.value = this.value.replace(/^\s+/g, '');"   id="name"  formControlName="name" placeholder="Name" type="text" class="form-control"  >
                        <small style="color:red;" *ngIf="name.touched && name.invalid" class="alert ">
                          <div *ngIf="name.errors && name.errors.required">Name is required.</div>
   
                      </small>



                    </div>
            
                    <div class="col-sm-2">
            
                        <label for="mobno">Sort Order</label>
                        <input   autocomplete="off" oninput="this.value = this.value.replace(/^\s+/g, '');"  id="sortorder"  formControlName="sortorder" maxlength="4" placeholder="Sort Order"   type="text" class="form-control" onkeydown = "return  (!((event.keyCode>=65 && event.keyCode <= 95) || event.keyCode >= 106 || (event.keyCode >= 48 && event.keyCode <= 57 && isNaN(event.key))) && event.keyCode!=32); "  >
                        <small style="color:red;" *ngIf="sortorder.touched && sortorder.invalid" class="alert ">
                          <div *ngIf="sortorder.errors && sortorder.errors.required">Sort Order is required.</div>
   
                      </small>
                    </div>
            
                </div>
            
            
            
            
            </div>

        

            

        
            <br>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit"      
                      
                          style="margin-bottom: 0px;" (click)="onSave()"  
                        class="btn btn-sm btn-raised btn-raised btn-success">
                        <i class="ft-thumbs-up position-right"  ></i>Save
                      </button>&nbsp;

                      <button type="button"  style="margin-bottom: 0px;" (click)="updateCountry()"
                      class="btn btn-sm btn-raised btn-raised btn-warning ml-1">
                      <i class="ft-refresh-cw position-right"></i> Update
                    </button>&nbsp;

                      
                      <button type="button"  style="margin-bottom: 0px;" (click)="onReset()"
                        class="btn btn-sm btn-raised btn-raised btn-warning ml-1">
                        <i class="ft-refresh-cw position-right"></i> Reset
                      </button>

                      


                    </div>

                </div>
            </div>
            



            </form>
         
    
            <br>
            <hr>

            <div class="table-responsive col">
                <table class="table table-hover">
                  <thead>
                    <tr>
                       <th style="width: 5%; background-color: #c7b2d3;font-size:small;">Sl.No</th>
                      <th style="width: 10%; background-color: #c7b2d3;font-size:small;">Name</th>
                      <th style="width: 10%; background-color: #c7b2d3;font-size:small;">Sort Order</th>
                     
                      <th style="text-align: center;width: 10%; background-color: #c7b2d3;font-size:small;">Actions</th>
                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr   *ngFor="let data of countrylist;let i = index;" >
                        <td style="width: 5%; ">{{i+1}}</td>
                        <td style="width: 10%; ">{{data.name}}</td>
                        <td style="width: 10%; ">{{data.sortOrder}}</td>
                       
                        <td style="text-align: center;width: 10%;">
                          <button type="button"   class="btn btn-sm btn-info" (click)="editCountry(data)">Edit <i class="ft-edit position-right"></i></button>&nbsp;
                          <button type="button"  class="btn btn-sm btn-danger"  (click)="deleteCountry(data.id)">Delete<i class="ft-trash-2 position-right"></i></button>


                      </td>
                       
                    </tr>
                  </tbody>
                </table>
              </div>

          
    
    </div>
    

    
    </div>
   
   
</div>


</mat-dialog-content> -->
